/app/configs/.test.env
/app/configs/.dev.env
/app/configs/.prod.env

/app/data/entries_data/
/app/data/messages.sqlite
/app/logs/
/app/static/assets/
/app/static/images/
/app/static/js/
/app/data/user_data/
/app/fe/
/app/data/temp/
/app/data/temp_files/
/app/venv/
/.idea/